* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

header{
    background-color: rgb(43, 43, 43); 
    color: rgb(255, 255, 255); 
    padding: 15px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    
    position: relative;
}


header::before {
    content: ''; 
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 4px; 
    background-color: #0000a0; 
}

nav ul {
    list-style: none; 
    display: flex; 
    padding: 0; 
    margin: 0; 
}

nav li {
    padding: 0 10px; 
}

nav a {
    text-decoration: none; 
    color: white; 
}

.logo{
    order: -1;
}

.logo img{
    width: 200px;
    height: auto;
}



main {
    padding: 20px;

    
}

h2 {
    padding: 0 10px; 
    margin-left: 1px; 
    margin-top: 40px; 
    color: #2235e2; 
    
    margin-left: auto; 
    margin-right: auto;
    width: max-content; 
}

.teams table {
    width: 100%;
    border-collapse: collapse;
}

.teams th, .teams td {
    border: 1px solid #d6cbcb;
    padding: 10px;
    text-align: left;
}

.teams th {
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
}

.teams td img {
    width: 50px; 
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse; 
}

table th {
    background-color: #000000; 
    color: #ffffff; 
}


table tr:nth-child(odd) {
    background-color: #ffffff; 
}


table tr:nth-child(even) {
    background-color: #dddcdc; 
}





section {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px; 
    box-sizing: border-box; 
}

@media (min-width: 992px) {
    section {
        max-width: 970px; 
    }
}

@media (max-width: 991px) {
    section {
        max-width: 720px; 
    }
}

@media (max-width: 767px) {
    section {
        max-width: 100%; 
        padding: 0 10px; 
    }
}


.footer {
    text-align: center; 
    color: #FFFFFF; 
    background-color: #0000a0; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    font-size: 14px; 
}