* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}
header{
    background-color: rgb(43, 43, 43); /* El color de fondo del header */
    color: rgb(255, 255, 255); /* Color de texto blanco */
    padding: 15px; /* Añade algo de relleno */
    display: flex; /* Esto establece un contenedor flex */
    justify-content: space-between; /* Esto alinea los hijos al inicio y al final */
    align-items: center; /* Esto centra los hijos verticalmente */
    
    position: relative;
}
header::before {
    content: ''; /* Los pseudo-elementos requieren la propiedad 'content' */
    position: absolute;
    top: 0; /* Posición al principio del header */
    left: 0;
    right: 0;
    height: 4px; /* Altura de la línea azul */
    background-color: #0000a0; /* Cambia este color al que necesites */
}
nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    display: flex; /* Crea un contenedor flex para los elementos de la lista */
    padding: 0; /* Restablece el padding */
    margin: 0; /* Restablece el margen */
}
nav li {
    padding: 0 10px; /* Añade espacio alrededor de los elementos de la lista */
}
nav a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: white; /* Establece el color del texto de los enlaces a blanco */
}
.logo{
    order: -1;
}
.logo img{
    width: 200px;
    height: auto;
}
main {
    padding: 20px;
}



.fase-grupos h2 {
    color: #2235e2; /* Sustituye este código de color por el que prefieras */
    margin: 20px 0; /* Esto añade un espacio arriba y abajo del título del grupo */
    font-weight: bold; /* Opcional, si quieres que los títulos sean más gruesos */
}
/* Cambiar el color del texto de la sección Fase de grupos */
.fase-grupos h3,
.fase-grupos h4,
.fase-grupos h5,
.fase-grupos h6 {
    color: #ff0000; /* Sustituye este código de color por el que prefieras */
    font-size: 18px; /* Elige el tamaño de fuente que prefieras */
    margin: 10px 0; /* Esto añade un espacio arriba y abajo del título del grupo */
    font-weight: bold; /* Opcional, si quieres que los títulos sean más gruesos */
}
/* Estilo base para las secciones */
section {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px; /* Esto proporciona un poco de espacio en los bordes */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho total */
}
/* Ajustes para pantallas más grandes */
@media (min-width: 992px) {
    section {
        max-width: 960px; /* Establece un ancho máximo para evitar que las secciones se expandan demasiado */
    }
}
/* Ajustes para pantallas medianas */
@media (max-width: 991px) {
    section {
        max-width: 720px; /* Ajusta este valor según sea necesario */
    }
}
/* Ajustes para pantallas pequeñas */
@media (max-width: 767px) {
    section {
        max-width: 100%; /* Las secciones ocupan el ancho completo en dispositivos móviles */
        padding: 0 10px; /* Reducir el padding en dispositivos móviles */
    }
}
/* Estilo para las celdas que contienen las banderas */
.flag-cell img {
    width: 30px; /* O el ancho que prefieras */
    height: auto; /* Esto mantendrá la relación de aspecto de la bandera */
    padding-right: 10px; /* Añade algo de espacio a la derecha de la bandera */
    vertical-align: middle; /* Alinea verticalmente la bandera con el texto */
}

/* Si quieres que todas las imágenes en las celdas de la tabla tengan el mismo estilo */
table td img {
    width: 30px; /* O el ancho que prefieras */
    height: auto; /* Esto mantendrá la relación de aspecto de la bandera */
    padding-right: 10px; /* Añade algo de espacio a la derecha de la bandera */
    vertical-align: middle; /* Alinea verticalmente la bandera con el texto */
}
/* Estilos para la fase de grupos */
.fase-grupos table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.fase-grupos th, .fase-grupos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
/* Puedes especificar anchos diferentes para cada tipo de columna si es necesario */
.fase-grupos th:nth-of-type(1), .fase-grupos td:nth-of-type(1) { width: 50%; } /* Por ejemplo para 'País' */
.fase-grupos th:nth-of-type(2), .fase-grupos td:nth-of-type(2) { width: 4%; } /* Por ejemplo para 'PJ' */
.fase-grupos th:nth-of-type(3), .fase-grupos td:nth-of-type(3) { width: 4%; } /* Por ejemplo para 'G' */
.fase-grupos th:nth-of-type(4), .fase-grupos td:nth-of-type(4) { width: 4%; } /* Por ejemplo para 'E' */
.fase-grupos th:nth-of-type(5), .fase-grupos td:nth-of-type(5) { width: 4%; } /* Por ejemplo para 'P' */
.fase-grupos th:nth-of-type(6), .fase-grupos td:nth-of-type(6) { width: 4%; } /* Por ejemplo para 'GF' */
.fase-grupos th:nth-of-type(7), .fase-grupos td:nth-of-type(7) { width: 4%; } /* Por ejemplo para 'GC' */
.fase-grupos th:nth-of-type(8), .fase-grupos td:nth-of-type(8) { width: 4%; } /* Por ejemplo para 'DG' */
.fase-grupos th:nth-of-type(9), .fase-grupos td:nth-of-type(9) { width: 4%; } /* Por ejemplo para 'Pts' */
/* Y así sucesivamente para las demás columnas */
.fase-grupos th {
    background-color: #888888;
}
/* Estilos para centrar los números en las celdas de fase de grupos */
.fase-grupos td:nth-of-type(2), /* PJ */
.fase-grupos td:nth-of-type(3), /* G */
.fase-grupos td:nth-of-type(4), /* E */
.fase-grupos td:nth-of-type(5), /* P */
.fase-grupos td:nth-of-type(6), /* GF */
.fase-grupos td:nth-of-type(7), /* GC */
.fase-grupos td:nth-of-type(8), /* DG */
.fase-grupos td:nth-of-type(9) { /* Pts */
    text-align: center;
}

/* Asegúrate de aplicar la clase .fase-grupos a las tablas de fase de grupos en tu HTML */




.fase-eliminacion h2 {
    color: #2235e2; /* Sustituye este código de color por el que prefieras */
    margin: 20px 0; /* Esto añade un espacio arriba y abajo del título del grupo */
    font-weight: bold; /* Opcional, si quieres que los títulos sean más gruesos */
}
/* Cambiar el color del texto de la sección Fase de eliminación directa */
.fase-eliminacion h3,
.fase-eliminacion h4,
.fase-eliminacion h5,
.fase-eliminacion h6 {
    color: #ff0000; /* Sustituye este código de color por el que prefieras */
    font-size: 18px; /* Elige el tamaño de fuente que prefieras */
    margin: 10px 0; /* Esto añade un espacio arriba y abajo del título del grupo */
    font-weight: bold; /* Opcional, si quieres que los títulos sean más gruesos */
}
/* Estilos para la fase de eliminación directa */
.fase-eliminacion table {
    width: auto; /* O el ancho que prefieras */
    margin-left: 0; /* Alinea la tabla a la izquierda */
    margin-right: 0;
    border-collapse: collapse;
}

.fase-eliminacion th, .fase-eliminacion td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left; /* O center si prefieres centrar el contenido */
}

.fase-eliminacion th {
    background-color: #888888;
}

/* Centrar contenido numérico si es necesario */
.fase-eliminacion td:nth-of-type(n) {
    text-align: center; /* Reemplaza n por el número de la columna si es necesario */
}
