* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}
header{
    background-color: rgb(43, 43, 43); 
    color: rgb(255, 255, 255); 
    padding: 15px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    
    position: relative;
}
header::before {
    content: ''; 
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 4px; 
    background-color: #0000a0; 
}
nav ul {
    list-style: none; 
    display: flex; 
    padding: 0; 
    margin: 0; 
}
nav li {
    padding: 0 10px; 
}
nav a {
    text-decoration: none; 
    color: white; 
}
.logo{
    order: -1;
}
.logo img{
    width: 200px;
    height: auto;
}
main {
    padding: 20px;
}



.fase-grupos h2 {
    color: #2235e2; 
    margin: 20px 0; 
    font-weight: bold; 
}

.fase-grupos h3,
.fase-grupos h4,
.fase-grupos h5,
.fase-grupos h6 {
    color: #ff0000; 
    font-size: 18px; 
    margin: 10px 0; 
    font-weight: bold; 
}

section {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px; 
    box-sizing: border-box; 
}

@media (min-width: 992px) {
    section {
        max-width: 970px; 
    }
}

@media (max-width: 991px) {
    section {
        max-width: 720px; 
    }
}

@media (max-width: 767px) {
    section {
        max-width: 100%; 
        padding: 0 10px; 
    }
}

.flag-cell img {
    width: 30px; 
    height: auto; 
    padding-right: 10px; 
    vertical-align: middle; 
}
.fase-grupos table {
    margin-left: 0; 
    margin-right: 0;
    border-collapse: collapse;
    width: 100%;
    margin: auto; 
    margin-bottom: 10px; 
}

table td img {
    width: 30px; 
    height: auto; 
    padding-right: 10px; 
    vertical-align: middle; 
}

.fase-grupos table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.fase-grupos th, .fase-grupos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.fase-grupos th:nth-of-type(1), .fase-grupos td:nth-of-type(1) { width: 50%; } 
.fase-grupos th:nth-of-type(2), .fase-grupos td:nth-of-type(2) { width: 4%; } 
.fase-grupos th:nth-of-type(3), .fase-grupos td:nth-of-type(3) { width: 4%; } 
.fase-grupos th:nth-of-type(4), .fase-grupos td:nth-of-type(4) { width: 4%; } 
.fase-grupos th:nth-of-type(5), .fase-grupos td:nth-of-type(5) { width: 4%; } 
.fase-grupos th:nth-of-type(6), .fase-grupos td:nth-of-type(6) { width: 4%; } 
.fase-grupos th:nth-of-type(7), .fase-grupos td:nth-of-type(7) { width: 4%; } 
.fase-grupos th:nth-of-type(8), .fase-grupos td:nth-of-type(8) { width: 4%; } 
.fase-grupos th:nth-of-type(9), .fase-grupos td:nth-of-type(9) { width: 4%; } 

.fase-grupos th {
    background-color: #888888;
}

.fase-grupos td:nth-of-type(2), 
.fase-grupos td:nth-of-type(3), 
.fase-grupos td:nth-of-type(4), 
.fase-grupos td:nth-of-type(5), 
.fase-grupos td:nth-of-type(6), 
.fase-grupos td:nth-of-type(7), 
.fase-grupos td:nth-of-type(8), 
.fase-grupos td:nth-of-type(9) { 
    text-align: center;
}






.fase-eliminacion h2 {
    color: #2235e2; 
    margin: 20px 0; 
    font-weight: bold; 
}

.fase-eliminacion h3,
.fase-eliminacion h4,
.fase-eliminacion h5,
.fase-eliminacion h6 {
    color: #ff0000; 
    font-size: 18px; 
    margin: 10px 0; 
    font-weight: bold; 
}

.fase-eliminacion table {
    width: auto; 
    margin-left: 0; 
    margin-right: 0;
    border-collapse: collapse;
}

.fase-eliminacion th, .fase-eliminacion td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left; 
}

.fase-eliminacion th {
    background-color: #888888;
}


.fase-eliminacion td:nth-of-type(n) {
    text-align: center; 
}



.footer {
    text-align: center; 
    color: #FFFFFF; 
    background-color: #0000a0; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    font-size: 14px; 
}